<h1>Contact</h1>

<div id="contact-box"

<div>
  <p>GitPub is located at:</p>
  <p>1600 Cherry St.</p>
  <p>8th floor<p>
  <p>Philadelphia, PA 19102</p>
</div>

<div>
  <p>Join our email list!</p>

  <form action="/" method="post">
    <label for="email">Email</label>
    <input name="email" type="email" size="50" value="">
    <label for="body">Body</label>
    <input type="text" name="body" value="">
    <input type="submit" name="submit" value="Join Our Mailing List"/>
  </form>
</div>

</div>
