<div class="index-parallax">
  <h2>drinkWithUs()</h2>
  <img src=/images/github.png="">
</div>

<h1>GitPub</h1>
<h4>if(you === coder)</h4>
<h5>youDrink(you)</h5>
<h4>else</h4>
<h5>youStillDrink(you)</h5>
<div class="home-box">
  <div class="paragraph-one">
    <p>Where you can code, you can drink, or you can drink and code.</p>
  </div>
  <div class="paragraph-two">
    <p>Try any of our spectialty cocktails for free if you give us 5% stake in your most recent app project</p>
  </div>
  <div class="paragraph-three">
    <p>Drink for free if you just launched your first website or application!</p>
  </div>
  <div class="paragraph-four">
    <p>function drinkChallenge(drinkMenu){</p>
    <p>for(var i = 0; i < drinkMenu.length; i++) { </p>
    <p>var currentDrink = drinkMenu[i]</p>
    <p>if(currentDrink === 'empty')</p>
    <p>console.log('Time for another.')</p>
    <p>else</p>
    <p>console.log('Drink faster.')</p>
    <p>}</p>
    <p>}</p>
  </div>
</div>
