<div class="parallax">
  <h2>drinkWithUs()</h2>
  <img src='/images/github.png'>
</div>

<h1>GitPub</h1>
<pre><code>
  if(you === coder)
    youDrink(you)
  else
    youStillDrink(you)
</code>
</pre>
<div class="home-box">
<div class="paragraph-one">
<p>Where you can code, you can drink, or you can drink and code.</p>
</div>
<div class="paragraph-two">
<p>Try any of our spectialty cocktails for free if you give us 5% stake in your most recent app project</p>
</div>
<div class="paragraph-three">
<p>Drink for free if you just launched your first website or application!</p>
</div>
<div class="paragraph-four">
  <pre><code>
  function drinkChallenge(drinkMenu){
    for(var i = 0; i < drinkMenu.length; i++) {
      var currentDrink = drinkMenu[i]
      if(currentDrink === 'empty'){
        console.log('Time for another.')
    } else {
        console.log('Drink faster.')
      }
    }
  }
</code>
</pre>
</div>
</div>
