<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GitPub</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="/css/prism.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="nav">

      <img src="../images/gitpub_white.png" alt="" height="40px" width="40px" class="gitpub_icon">
      <a class='nav-buttons' href="/">
        <strong>Home</strong>
      </a>
      <a class='nav-buttons' href="/contact">
        <strong>Contact</strong>
      </a>
      <a class='nav-buttons' href="/menu">
        <strong>Menu</strong>
      </a>

    </nav>

    <%= yield %>

    <footer class="footer">
        <div>
            <p>&copy; Nikki, Devin, Sandro @ NYCDA 2017</p>
        </div>
    </footer>

    <script src="/js/prism.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
