<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/index.css">
  </head>
  <body>
    <nav class="nav">
        <a class='nav-buttons left' href="/"> Home </a>
        <a class='nav-buttons left' href="/about"> About </a>
        <a class='nav-buttons right' href="/menu"> Menu </a>
    </nav>

    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
