<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav class="nav">

        <img src="../images/gitpub_white.png" alt="" height="40px" width="40px" class="gitpub_icon">
        <a class='nav-buttons' href="/"> Home </a>
        <a class='nav-buttons' href="/contact"> Contact </a>
        <a class='nav-buttons' href="/menu"> Menu </a>

    </nav>

    <%= yield %>
    <script src="/js/index.js"></script>
  </body>
</html>
