<div class="parallax">
  <h2 class="logo">drinkWithUs()</h2>
  <img src='/images/gitpub_black.png' width="100" height="100">
</div>

<div class="drinks-box">
  <pre><code class="language-javascript">

  <div class='drink-title'><strong>JavaSipt</strong></div>

  <div class='drink-desc'>
    Our take on the classic Black Russian. House made coffee
    liquer mixed with Philadephia made Stateside Vodka served over ice.
  </div>
</code></pre>
  <pre><code class="language-javascript">
  <div class='drink-title'><strong>undefined</strong></div>

  <div class='drink-desc'>
    FATAL ERROR: 'order' returned undefined. GitPub has defaulted to 'Bartender's
    choice.'
  </div>
  </code></pre>

<pre><code class="language-javascript">
  <div class='drink-title'><strong>default</strong></div>

  <div class='drink-desc'>
    Didn't figure out another drink name.
  </div>
</code></pre>
</div>
