
<div class="drinks-box">
  <div class='drink-title'><strong>JavaSipt</strong></div>

  <div class='drink-desc'>
    Our take on the classic Black Russian. House made coffee
    liquer mixed with Philadephia made Stateside Vodka served over ice.
  </div>

  <div class='drink-title'><strong>undefined</strong></div>

  <div class='drink-desc'>
    FATAL ERROR: 'order' returned undefined. GitPub has defaulted to 'Bartender's
    choice.'
  </div>

  <div class='drink-title'><strong>default</strong></div>

  <div class='drink-desc'>
    Didn't figure out another drink name.
  </div>

</div>
