
.parallax {
      /* The image used */
  background-image: url('https://images2.alphacoders.com/553/553717.jpg');
      /* Set a specific height */
  height: 200px;
      /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px;
  text-align: center;
}

.home-box{
  display: grid;
  grid-gap: 1em;
  grid-auto-rows: minmax(70px, auto);
  margin-top: 25px;
}
.paragraph-one{
  margin-left: 100px;
  margin-right: 500px;
  border: 1px dashed black;
  padding: 20px;
  text-align: center;
}
.paragraph-two{
  margin-left: 300px;
  margin-right: 100px;
  border: 1px dashed black;
  padding: 20px;
  text-align: center;
}
.paragraph-three{
  margin-left: 100px;
  margin-right: 500px;
  border: 1px dashed black;
  padding: 20px;
  text-align: center;
}
